.relayForm {
    display: flex;
}
.relayFormBtn {
    color: var(--color-dark--0);
    background-color: var(--color-brand--0);
    text-transform: uppercase;
    width: 160px;
    height: 40px;
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
    font-family: inherit;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.relayFormBtn:hover {
    background-color: var(--color-brand--1);
}
.inactive {
    background-color: var(--color-light--0);
}
.inactive:hover {
    background-color: var(--color-light--0);
    cursor: auto;
}
.relayFormBtn {
    margin: auto 10px;
    width: 100px;
    height: 50px;
}

.autocompleteInput {
    width: 100px;
    margin: 10px;
}
.wideInput {
    width: 240px;
}
.medInput {
    width: 160px;
}
.relayUl {
    list-style-type: none;
    text-align: left;
    margin-left: 40px;
}
.relayLi {
    display: flex;
}
.relayLi div {
    width: 100px;
    margin: 6px 10px;
}
div.relayLiDesc {
    width: 140px;
}
